/* Style pour la page d'accueil `accueil.html` */

body{
    font-family: 'Barlow', sans-serif;
}

.image-fond {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.image-fond img {
    filter: blur(3px);
    background-color: transparent;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.accueil {
    font-family: 'Barlow', 'sans-serif';
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenu-accueil {
    text-align: center;
    background-color: rgb(0 0 0 / 41%);
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.contenu-accueil h1 {
    font-weight: normal;
    color: whitesmoke;
    font-size: 36px;
    margin-bottom: 20px;
}

#decouvrir {
    display: inline-block;
    cursor: pointer;
    background-color: rgb(52, 52, 52);
    border: 0px;
    border-radius: 4px;
    width: 141px;
    height: 41px;
    color: whitesmoke;
    line-height: 41px;

}

#decouvrir:hover {
    background-color: #7e7e7e;
}

h1#link {
    color: whitesmoke;
    font-family: 'Barlow', 'sans-serif';
}


.presentation {
    font-family: 'Barlow', 'sans-serif';
    background-color: rgb(38 74 87);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    border-bottom: 1px solid whitesmoke;
}

.presentation figure {
    max-width: 50%;
}

.presentation figure img {
    background-color: whitesmoke;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.texte-presentation {
    flex: 1;
    padding: 20px;
}

.texte-presentation h2 {
    color: whitesmoke;
    font-size: 24px;
    margin-bottom: 20px;
}

.texte-presentation p {
    color: whitesmoke;
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
}

.texte-presentation sub {
    color: whitesmoke;
}

.presentation figcaption{
    color: whitesmoke;
    text-align: center;
}

span.gras {
    font-weight: bold;
    color: whitesmoke;

}