/* 
Auteur : Enis Béziau 1H
Ce fichier vise à réunir tous les élements de style communs aux pages du site pour éviter les répétitions
*/
* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    letter-spacing: 1px;
}


html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}


body {
    font-family: 'Quicksand';
    background-color: rgb(38 74 87);
    min-height: 100vh;
}


/* Code de la barre de navigation */

nav {
    font-family: 'Barlow', 'sans-serif';
    padding: 20px;
}

.ensemble-lien {
    text-align: right;
}

.ensemble-lien li {
    display: inline;
    margin-left: 20px;
}

.ensemble-lien li a {
    color: whitesmoke;
    border-radius: 15px;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.ensemble-lien li a:hover {
    background-color: whitesmoke;
    color: #000;
}



/* Style du pied de page */

footer {
    font-weight: bold;
    border-top: 1px solid whitesmoke;
    background-color: rgb(38 74 87);
    color: whitesmoke;
    text-align: center;
    padding: 20px;
}

footer a {
    color: whitesmoke;
}

.contenu-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reseau {
    display: flex;
}

.reseau li {
    margin-right: 10px;
}

.reseau a {
    color: whitesmoke;
}

.reseau a:hover {
    text-decoration: underline;
}


/* Éléments redondants dans l'ensemble des pages */

h1.titre {
    text-align: center;
    color: whitesmoke;
    padding: 20px;
}

code {
    color: black;
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}


/* Style des rendus visuels LaTex grâce à MathJax. La couleur sert à mieux intégrer l'expression mathématique avec la police Quicksand */
.MathJax.CtxtMenu_Attached_0 {
    color: rgb(85 85 85);
}


/* Code servant au responsive de la navbar à l'aide d'un menu sandwich */

.hamburger {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    display: none;
}

@media screen and (max-width: 633px) {

    body {
        overflow: hidden;
    }

    html.no-scroll {
        overflow: hidden;
    }

    .hamburger {
        z-index: 100;
        display: block;
    }

    .ensemble-lien {
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        margin-left: -100%;
        transition: all 0.5s ease;
        z-index: 100;
    }

    .ensemble-lien li {
        margin: 10px;
        font-size: 1.3em;
    }

    .ensemble-lien.menu-mobile {
        align-items: center;
        margin-left: 0;
        display: flex;
        background-color: #136a86;
        transition: all 0.5s ease;
    }

}