/* 
Ce fichier sert à définir le style des élements repris sur l'ensembles des pages du site web tels que :
- La barre de navigation
- Le code de reset de la page (marge interne et externe, police...)
- Le footer
*/


@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');


/* Code de mise en page par défaut */

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    color: whitesmoke;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    letter-spacing: 1px;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: rgb(38 74 87);
    min-height: 100vh;
}


/* Code de la barre de navigation */

.navbar {
    background-color: transparent;
    top: 0;
    right: 0;
    padding: 20px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.navbar ul li {
    display: inline;
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: whitesmoke;
    border-radius: 15px;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.navbar ul li a:hover {
    background-color: whitesmoke;
    color: #000;
}

h1 {
    text-align: center;
}

footer{
    text-align: center;
    padding: 15px;
    border-top: 1px solid whitesmoke;
    
}

footer a{
    color: whitesmoke;
}