body {
    font-family: 'Barlow';
}

.zone-input {
    width: 400px;
    max-width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%, -25%);
    margin: 10px 0 10px 0;
}

#input {
    background: rgba(255, 255, 255, .3);
    border: 2px solid black;
    border-radius: 50px;
    padding: 1rem 2rem;
    width: 100%;
}

#btn {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 13%;
    right: 10px;
}

::placeholder {
    color: whitesmoke;
}

#graphique {
    margin-top: 25px;
}

.zone-graphique {
    display: none;
    background-color: whitesmoke;
    margin: 0px 70px 50px 75px;
    border-radius: 20px;
}


/* Style des boutons pour changer le repère du graphique*/

.ensemble-btn {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.ensemble-btn button {
    border: none;
    cursor: pointer;
    padding: 7px 13px;
    width: 50%; 
    background-color: #a5a5a5;
    color: black;
    border-radius: 5px;
}

/* Style pour le dernier bouton */
.ensemble-btn button:last-child {
    margin-left: 5px;
}

.ensemble-btn button:hover {
    background-color: #2980b9;
}

#ensemble-btn {
    display: none;
}



/* Style de la partie information */

/* 
La section informations est pas défaut cachée tant que l'utilisateur n'a rien entré 
Lorsque l'entrée est validée et le graphique générée, le display est changé dans le js
 */
 #informations {
    display: none;
    width: 80%;
    max-width: 400px;
    margin: 25px auto; 
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

#informations p {
    margin-bottom: 10px;
}

#altitude-max,
#facteur-expansion {
    font-weight: bold;
    color: #4CAF50;
}
