@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    color: white;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    letter-spacing: 1px;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: rgb(52, 52, 52);
    min-height: 100vh;
}

.image-fond {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.image-fond img {
    filter: blur(3px);
    background-color: transparent;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.navbar {
    background-color: transparent;
    top: 0;
    right: 0;
    padding: 20px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.navbar ul li {
    display: inline;
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    border-radius: 15px;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.navbar ul li a:hover {
    background-color: white;
    color: #000;
}


.accueil {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenu-accueil {
    text-align: center;
    background-color: rgb(0 0 0 / 41%);
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.contenu-accueil p {
    font-size: 36px;
    margin-bottom: 20px;
}

#decouvrir {
    display: inline-block;
    cursor: pointer;
    background-color: rgb(52, 52, 52);
    border: 0px;
    border-radius: 4px;
    width: 141px;
    height: 41px;
    color: white;
    line-height: 41px; /* Centrer le texte en Y en ajustant la hauteur du bouton */
}

#decouvrir:hover {
    background-color: #7e7e7e;
}

.section-pair, .section-impair {
    background-color: #343434;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    border-bottom: 1px solid white;
}

.section-impair {
    flex-direction: row-reverse; /* Inversion de la direction pour les sections impaires uniquement*/
}

.gauche, .gauche-impair{
    max-width: 50%; /* Vous pouvez ajuster la largeur au besoin */
}

.gauche img, .gauche-impair img{
    background-color: whitesmoke;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.droite, .droite-impair{
    flex: 1;
    padding: 20px;
}

.droite h2, .droite-impair h2{
    font-size: 24px;
    margin-bottom: 20px;
}

.droite p, .droite-impair p{
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
}

h1 {text-align: center;}